{% extends 'base.html ' %}

{% block title %} About Us {% endblock title %}

{% block body %}
<!-- <div class="jumbotron container my-3 p-4 p-md-5 text-white rounded bg-dark ">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Contact Us</h1>
    </div>
  </div> -->

<div class="container">
  <img src="../static/img/about_us1.jpg" , class="d-block w-100 my-3 rounded" ,
    alt="bhai photo nahi mili to soch bata du :)">
  <hr>
  <h1 class="text-center">About Us </h1>
</div>


<div class="container ">
  <p>
    We are cherry blue hospital services which aims at providing high class services to all mankind in their times of
    need. We focus at doing the needful to every patient coming here for any assistance.
    We have a pool of world class doctors , specialised in their respective fields , widely acclaimed with great
    experience and delivering the services to their fullest connected across the globe through internet.
    <br>
  </p>
  <p>
    This website is a part of a project under the topic "HOSPITAL MANAGEMENT SYSTEM".<br>
  </p>
  <p>
    Developers:<br>
    Yash Jitendrabhai Kanejiya [CSE Part II] (IIT BHU)
    <br>
    Yash Verma [CSE Part II] (IIT BHU)
    <br>
  </p>
</div>

{% endblock body %}