{% extends 'base.html ' %}

{% block title %} Contact Us {% endblock title %}

{% block body %}
  
  <!-- <div class="jumbotron container my-3 p-4 p-md-5 text-white rounded bg-dark ">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Contact Us</h1>
    </div>
  </div> -->

  <div class="container"> 
      <img src="../static/img/contact_us1.jpg", class="d-block w-100 my-3 rounded", alt="bhai photo nahi mili to soch bata du :)">
      <hr> 
      <h1 class="text-center">Contact Us </h1>
  </div>


  <div class="container ">
    <form method="POST" action="/contactus">
    {% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="firstname (middlename) lastname" required >
      </div>

      <div class="form-group">
        <label for="emial">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
      </div>

      <div class="form-group">
        <label for="phone">Contact number</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="+91-9999999999" required>
      </div>
  
      <div class="form-group">
        <label for="desc">What you want to tell me?</label>
        <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="We apreciate your suggestions" required></textarea>
      </div class="container">

      <button type="submit" class="btn btn-primary"> Submit </button>
    </form>
  </div>
  
{% endblock body %}