{% extends 'base.html ' %} {% block title %} Doctors {% endblock title %} {% block body %}

<div class="container">
  <img
    src="../static/img/doc3.jpg"
    ,
    class="d-block w-100 my-3 rounded"
    ,
    alt="bhai photo nahi mili to soch bata du :)"
  />
  <hr />
  <h1 class="text-center">Doctors</h1>
</div>

{% for i in data %}
<div class="container">
  <!-- <div class="">
    <div
      class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Dr</strong>
        <h3 class="mb-0">{{ i.name }}</h3>
        <div class="mb-1 text-muted">date of birth : {{ i.date_of_birth }}</div>
        <div class="mb-1 text-muted">email : {{ i.email }}</div>
        <p class="card-text mb-auto">
          A excelent doctor in the {{ i.department }} working since {{ i.date_of_join }} with us
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg
          class="bd-placeholder-img"
          width="200"
          height="250"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: Thumbnail"
        > 
          <rect width="100%" height="100%" style="background-image : url({{i.photo}}) " />
        </svg>
      </div>
    </div>
  </div> -->
  <div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ i.photo }}" class="card-img" height="200 pc" width="200 pc" alt="image not found">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title mb-1"> Dr {{ i.name }}</h5>
          <div class="mb-1 text-muted">date of birth : {{ i.date_of_birth }}</div>
          <div class="mb-1 text-muted">email : {{ i.email }}</div>
          <p class="card-text"> A excelent doctor in the {{ i.department }} working since {{ i.date_of_join }} with us</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock body %}
