{% extends 'base.html ' %}
{% block title %} staff-home {% endblock title %} 
{%block body %}

<div class="container my-3">
  <p>
    <a href="/staff/admit">Admit new patient</a>
  </p>
  <br />
  <p style="color: rgb(255, 165, 0);">
    <a
      href="#"
      class="btn btn-primary btn-lg disabled"
      tabindex="2"
      role="button"
      aria-disabled="true"
      >Set Appointment</a
    >
  </p>
  <br />
  <p style="color: rgb(255, 165, 0);">
    <a
      href="#"
      class="btn btn-primary btn-lg disabled"
      tabindex="3"
      role="button"
      aria-disabled="true"
      >Check out patient</a
    >
  </p>
</div>

{% endblock body %}
